<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <title>ChatX</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="/img/cat-face-with-tears-of-joy.png" width="40" height="40" style="margin-top:-10px;">
        </a>
        <a class="navbar-brand" href="#">Chat'X</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= user.login %></a>
        </p>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row " style="padding-top:40px;">
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
           AVAILABLE ROOMS
         </div>
         <div class="panel-body">
          <ul class="media-list" id="roomList">
          </ul>
        </div>
        <div class="panel-footer">
          <div class="input-group">
          <input id="roomNameInput" name="roomName" type="text" class="form-control" placeholder="Type Room name" />
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" onClick="joinRoom()">JOIN</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading" id="messageListTitle">
          Please select a room
        </div>
        <div class="panel-body">
          <ul class="media-list" id="messageList">
          </ul>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input id="messageContentInput" type="text" class="form-control" placeholder="Type Message" />
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" onClick="writeMessage()">SEND</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
         ONLINE USERS
       </div>
       <div class="panel-body">
        <ul class="media-list" id="userList">
        </ul>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/ejs_production.js"></script>
  <script>
    var socket = io();
    var currentUser = <%- JSON.stringify(user) %>;
    socket.emit('login', currentUser);
  </script>
  <script src="/js/rooms.js"></script>
  <script src="/js/messages.js"></script>
</body>
</html>
