<!doctype html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>ChatX</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form action="/login" method="post">
          <div class="form-group">
              <label>Login</label>
              <input type="text" class="form-control" name="login">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
