<li class="media">

  <div class="media-body">

    <div class="media">
      <div class="media-body" >
        <h5><a href="#<%= room.id %>" onClick="getRoom(<%= room.id %>)"><%= room.name %></a></h5>
      </div>
    </div>

  </div>
</li>
